
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        
        <!-- <li class="nav-item">
            <a class="nav-link"routerLink="customer">Customer Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="payment">Payment Management</a>
          </li>
          -->
      </ul>
      
    </div>
  </nav>

  








<br><br>
<br><br>
<br><br>
<h1 style="font-size:60px"  >Owner's Work...</h1>
<br><br>
<div>
<a href="http://localhost:4200/manager/employee" >Employee Details</a>
<a href="http://localhost:4200/manager/rooms" >Rooms Details</a>
<a href=" http://localhost:4200/reception/customer" >Customers Details</a>
<!-- <img src="https://wwwhoistgroupcom.cdn.triggerfish.cloud/uploads/2020/09/Dashboard_Campaign_Main_Test3_1200x628.jpg" alt="">
 -->

</div>
