
<br>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Reception_Works</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
            <a class="nav-link"routerLink="customer">Customer Management</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/manager/employee">Employee Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/manager/rooms">Rooms Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="payment">Payment Management</a>
          </li>
      </ul>
      
    </div>
  </nav>

  

  
  <br>

  

  <router-outlet></router-outlet>


<img src="https://www.roberthalf.co.uk/sites/roberthalf.co.uk/files/2019-08/shutterstock_1430177474-min.jpg" height="100%" width="100%" alt="">
